<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Wechat</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>YHGLController</servlet-name>
    <servlet-class>controller.YHGLController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>YHGLController</servlet-name>
    <url-pattern>/YHGLController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>upLoadServlet</servlet-name>
    <servlet-class>controller.upLoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upLoadServlet</servlet-name>
    <url-pattern>/upLoadServlet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GJZXJController</servlet-name>
    <servlet-class>controller.GJZXJController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GJZXJController</servlet-name>
    <url-pattern>/GJZXJController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QGZXController</servlet-name>
    <servlet-class>controller.QGZXController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QGZXController</servlet-name>
    <url-pattern>/QGZXController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MFSFSSHBZController</servlet-name>
    <servlet-class>controller.MFSFSSHBZController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MFSFSSHBZController</servlet-name>
    <url-pattern>/MFSFSSHBZController.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changePassController</servlet-name>
    <servlet-class>controller.changePassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changePassController</servlet-name>
    <url-pattern>/changePassController.do</url-pattern>
  </servlet-mapping>
</web-app>